<h1>Admin Dashboard</h1>
<div class="row">
  <div class="col s3">
    <div class="card red">
      <h4><%= Distributor.all.count %></h4>
      <h4>Distributors</h4>
    </div>
  </div>
  <div class="col s3">
    <div class="card blue">
      <h4><%= Order.all.count %></h4>
      <h4>Orders</h4>
    </div>
  </div>
  <div class="col s3">
    <div class="card green">
      <h4><%= DistFloat.all.count %></h4>
      <h4>Transactions</h4>
    </div>
  </div>
  <div class="col s3">
    <div class="card brown">
      <h4><%= number_to_currency(DistFloat.all.sum(:amount), unit: "KES", separator: ",") %></h4>
      <h4>Payments</h4>
    </div>
  </div>
</div>
<button class="btn blue" onclick="add_dist()">New Distributor</button>

<div id="distributor-form" style="display: none">
  <%= form_tag("/admin_dash/add_dist", method: "POST") do %>
  <%= label_tag("Distributor Name:") %>
  <%= text_field_tag(:dist_name) %>
  <%= label_tag("Distributor Email:") %>
  <%= text_field_tag(:email) %>
  <%= label_tag("Distributor Password:") %>
  <%= text_field_tag(:password) %>
  <%= label_tag("Distributor Address:") %>
  <%= text_field_tag(:dist_contact) %>
  <%= submit_tag("Add Distributor", class: "btn blue") %>
  <% end %>
</div>

<button class="btn blue" onclick="add_product()">New Product</button>
<div id="products-form" style="display: none">
  <%= form_tag("/products", method: "POST") do %>
    <%= label_tag("Product Name:") %>
    <%= text_field_tag(:name) %>
    <%= label_tag("Product Price:") %>
    <%= text_field_tag(:cost) %>
    <%= submit_tag("Add Product", class: "btn blue") %>
  <% end %>
</div>

<div class="row">
  <div class="col s6">
    <h4>Distributors</h4>
    <table class="striped">
      <thead>
        <th>Distributor Name</th>
        <th>Distributor Email</th>
        <th>Distributor Contact</th>
        <th>Distributor FLoat</th>
      </thead>
      <tbody>
        <% @distributors.each do |d| %>
          <tr>
            <td><%= d.dist_name %></td>
            <td><%= d.email %></td>
            <td><%= d.dist_contact %></td>
            <td><%= number_to_currency(d.dist_floats.sum(:amount), unit: "KES", separator: ",") %></td>
            <td> <button class="btn brown" id="float" onclick="float()">Float</button> </td>
            <td><%= link_to "Remove", "/admin_dash/remove_dist/#{d.id}", class: "btn brown", method: "DELETE", data: {confirm: "Do you want to remove #{d.dist_name} from your distributors?"} %></td>
            <div id="float" style="display: none">
              <%= form_tag("/dist_floats/admin_float", method: "POST") do %>
              <%= text_field_tag(:distributor_id, d.id) %>
              <%= label_tag("Amount To Pay:") %>
              <%= text_field_tag(:amount) %>
              <%= label_tag("Select Payment Mode:") %>
              <%= select_tag :payment_channel_id, options_for_select(PaymentChannel.all.collect{ |u| [u.channel, u.payment_channel_id] }), class: 'browser-default', onclick: "paymentOption(id)" %>
              <div id="options">
                <p>Instractions to Pay via RTGS</p>
              </div>
              <%= submit_tag("Transfer Funds", class: "btn blue") %>
              <% end %>
          </tr>
          </div>
        <% end %>
      </tbody>
    </table>


  </div>
  <div class="col s6">
    <h4>Orders</h4>
    <table class="striped">
      <thead>
        <th>Order REF</th>
        <th>Distributor</th>
        <th>Quantity</th>
        <th>Pick-Up Time</th>
        <th>Order Cost</th>
        <th>Amount Paid</th>
        <th>Balance</th>
      </thead>
      <tbody>
        <% @orders.reverse.each do |order| %>
          <tr>
            <td><%= order.order_id %></td>
            <td><%= order.distributor.dist_name %></td>
            <td><%= order.quantity %></td>
            <td><%= order.pick_up %></td>
            <td><%= order.cost %></td>
            <td><%= number_to_currency(order.transactions.sum(:amount), unit: "KES", separator: ",") %></td>
            <% if (order.distributor.dist_floats.sum(:amount).to_i - order.cost.to_i) > 1 %>
              <td> <button class="btn green" name="button">Paid</button> </td>
              <td> <button class="btn blue" name="button">Dispatch</button> </td>
            <% else %>
                <td> <button class="btn red" name="button"><%=  number_to_currency(order.cost - order.transactions.sum(:amount), unit: "KES", separator: ",") %></button> </td>
                <td> <button class="btn blue" disabled>Dispatch</button> </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>

  </div>
</div>

<div class="row">
  <div class="col s6">
    <h4>Payments</h4>
    <table class="striped">
      <thead>
        <th>Transaction REF</th>
        <th>Distributor</th>
        <th>Amount</th>
        <th>Payment Channel</th>
      </thead>
      <tbody>
        <% @transactions.reverse.each do |transaction| %>
          <tr>
            <td><%= transaction.id %></td>
            <td><%= Distributor.find(transaction.distributor_id).dist_name %></td>
            <td><%= number_to_currency(transaction.amount, unit: "KES", separator: ",") %></td>
            <td><%= PaymentChannel.find(transaction.payment_channel_id).channel %></td>
          </tr>
        <% end %>
      </tbody>
    </table>


  </div>
  <div class="col s6">
    <h4>Products</h4>
    <table class="striped">
      <thead>
        <th>Product Name</th>
        <th>Product Price</th>
      </thead>
      <tbody>
        <% @products.each do |product| %>
          <tr>
            <td><%= product.name %></td>
            <td><%= number_to_currency(product.cost, unit: "KES", separator: ",") %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

  </div>
</div>
