<h1>Admin Dashboard</h1>
<%= link_to "Add Distributor" %>

<div class="distributor-form">
  <%= form_tag("/admin_dash/add_dist", method: "POST") do %>
  <%= label_tag("Distributor Name:") %>
  <%= text_field_tag(:dist_name) %>
  <%= label_tag("Distributor Email:") %>
  <%= text_field_tag(:email) %>
  <%= label_tag("Distributor Password:") %>
  <%= text_field_tag(:password) %>
  <%= label_tag("Distributor Address:") %>
  <%= text_field_tag(:dist_contact) %>
  <%= label_tag("Distributor Float:") %>
  <%= text_field_tag(:dist_float) %>
  <%= submit_tag("Add Distributor") %>
  <% end %>
</div>

<%= link_to "Add Products" %>

<div class="distributor-form">
  <%= form_tag("/products", method: "POST") do %>
    <%= label_tag("Product Name:") %>
    <%= text_field_tag(:name) %>
    <%= label_tag("Product Price:") %>
    <%= text_field_tag(:cost) %>
    <%= submit_tag("Add Product") %>
  <% end %>
</div>

<h2>Distributors</h2>
<table>
  <thead>
    <th>Distributor Name</th>
    <th>Distributor Email</th>
    <th>Distributor Contact</th>
    <th>Distributor FLoat</th>
  </thead>
  <tbody>
    <% @distributors.each do |d| %>
      <tr>
        <td><%= d.dist_name %></td>
        <td><%= d.email %></td>
        <td><%= d.dist_contact %></td>
        <td><%= d.dist_float %></td>
        <td><%= link_to "Remove Distributor", "/admin_dash/remove_dist/#{d.id}", method: "DELETE", data: {confirm: "Do you want to remove #{d.dist_name} from your distributors?"} %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h2>Orders</h2>
<table>
  <thead>
    <th>Order REF</th>
    <th>Distributor</th>
    <th>Quantity</th>
    <th>Pick-Up Time</th>
    <th>Order Cost</th>
    <th>Amount Paid</th>
    <th>Balance</th>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.order_id %></td>
        <td><%= order.distributor %></td>
        <td><%= order.quantity %></td>
        <td><%= order.pick_up %></td>
        <td><%= order.order_cost %></td>
        <td><%= order.transactions.count %></td>
        <td><%= order.transactions.count %></td>
        <td><%= link_to "Dispatch Order" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h2>Payments</h2>
<table>
  <thead>
    <th>Transaction REF</th>
    <th>Order REF</th>
    <th>Distributor</th>
    <th>Amount</th>
    <th>Payment Channel</th>
  </thead>
  <tbody>
    <% @transactions.each do |transaction| %>
      <tr>
        <td><%= transaction.transaction_id %></td>
        <td><%= transaction.order_id %></td>
        <td><%= transaction.distributor %></td>
        <td><%= transaction.amount %></td>
        <td><%= transaction.channel %></td>
      </tr>
    <% end %>
  </tbody>
</table>
