<!DOCTYPE html>
<html>
  <head>
    <title>Savanna</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class="row">
      <div class="col s2 side-nav fixed">
        <ul class="">
          <div class="logo">
            <%= image_tag 'savana', width: 200 %>
            <% if admin_signed_in? %>
              <h3>Admin Dashboard</h3>
            <% elsif distributor_signed_in? %>
              <h3>Distributor Portal</h3>
              <h5>Welcome <%= current_distributor.dist_name %></h5>
              <p><%= link_to "Sign Out", destroy_distributor_session_path, method: "DELETE", class: "btn red" %></p>
            <% end %>
          </div>
        </ul>
      </div>
      <div class="col s10">
          <%= yield %>
      </div>
    </div>

  </body>
</html>
